<div class="nav">
  <!-- Top Bar -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <!-- top nav -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <div class="tnavbar">
    <div class="contain">
      <h4 class="logo">Fru Ve</h4>
     <ul class="main-nav">


    <a href="#contact"
      ><i class="fa fa-fw fa-envelope"></i> Contact</a
    >
    <a href="#gallery"
      ><i class="glyphicon glyphicon-picture"></i> Galary</a
    >
    <a href="#about"
      ><i class="glyphicon glyphicon-globe"></i> About</a
    >
    <a [routerLink]="['/signup']"
      ><span class="glyphicon glyphicon-user"></span> Sign Up</a
    >
    <a [routerLink]="['/signin']"
      ><span class="glyphicon glyphicon-log-in"></span> Login</a
    >
    <!-- <div class="aa pull-right">
      <input class="" type="text" placeholder="Search.." />
      <button type="submit" class=""><i class="fa fa-search"></i></button>
    </div> -->
     </ul>
    </div>

  </div>
</div>
<!-- End top nav -->
<!-- Start Home-Page  -->
<div class="vg-page home-page" id="home"
style="background-image: url(../../assets/Images/Home.jpg)">
  <div class="caption-header">
    <!-- <img src="../../assets/Images/Home.jpg" alt="Image" /> -->
    <!-- <h1>Welcome To Fru Ve</h1> -->
  </div>
</div>
<!-- End Home-Page  -->
<!-- Start About -->
<div class="about" id="about">
  <h2 class="main-title">About Us</h2>
  <div class="container">
    <div class="box1 col-md-6 pull-right">
      <img src="../../assets/Images/gallery.jpg" alt="Image">
    </div>
    <div class="box2 col-md-6 pull-left">
      <h1>Green and Organic</h1>
      <p>We always provide the best service</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sunt animi cupiditate sequi dicta voluptatibus impedit cum asperiores autem laboriosam. Aperiam voluptates quasi repudiandae.</p>
    </div>

  </div>
</div>
<!-- End About -->

<!-- Start Gallery -->
<div class="gallery" id="gallery">
  <h2 class="main-title">Gallery</h2>
  <div class="container">
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-01.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-02.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-05.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-09.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-03.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-04.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-06.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-07.jpg" alt="" />
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/Images/gallery-08.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- End Gallery -->
<!-- Start Article -->
<div class="article" id="article">
  <h2 class="main-title">Article</h2>
  <div class="container">
    <div class="box">
      <img src="../../assets/Images/apple.jpg" alt="" />
      <div class="content">
        <h3>Apple</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/watermelon.jpg" alt="" />
      <div class="content">
        <h3>Watermelon</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/strawberry.jpg" alt="" />
      <div class="content">
        <h3>Strawberry</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/pineapple.jpg" alt="" />
      <div class="content">
        <h3>Pineapple</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/banana.jpg" alt="" />
      <div class="content">
        <h3>Banana</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/grape.jpg" alt="" />
      <div class="content">
        <h3>Grape</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/mango.jpg" alt="" />
      <div class="content">
        <h3>Mango</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/avocado.jpg" alt="" />
      <div class="content">
        <h3>Avocado</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/orange.jpg" alt="" />
      <div class="content">
        <h3>Orange</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/cabbage.jpg" alt="" />
      <div class="content">
        <h3>Cabbage</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/peach.jpg" alt="" />
      <div class="content">
        <h3>Peach</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/onion.jpg" alt="" />
      <div class="content">
        <h3>Onion</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/carrot.jpg" alt="" />
      <div class="content">
        <h3>Carrot</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/broccoli.jpg" alt="" />
      <div class="content">
        <h3>Broccli</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/tomato.jpg" alt="" />
      <div class="content">
        <h3>Tomato</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/potato.jpg" alt="" />
      <div class="content">
        <h3>Potato</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/cucumber.jpg" alt="" />
      <div class="content">
        <h3>Cucumber</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/Images/carlic.jpg" alt="" />
      <div class="content">
        <h3>Garlic</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="info">
        <a href="">Read More</a>
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </div>
  </div>
</div>
<!-- End Article -->

<!-- Start Discount  -->
<div class="discount" id="contact">
  <h2 class="main-title">Contact Us</h2>
  <div class="container">
    <div class="image col-md-6 pull-left">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="100%"
            height="600px"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=%D9%83%D9%84%D9%8A%D8%A9%20%D8%A7%D9%84%D8%AD%D8%A7%D8%B3%D8%A8%D8%A7%D8%AA%20%D9%88%D8%A7%D9%84%D8%B0%D9%83%D8%A7%D8%A1%20%D8%A7%D9%84%D8%A7%D8%B5%D8%B7%D9%86%D8%A7%D8%B9%D9%8A%D8%8C%20%D8%AC%D8%A7%D9%85%D8%B9%D8%A9%20%D8%AD%D9%84%D9%88%D8%A7%D9%86,%20Al%20Sikka%20Al%20Hadid%20Al%20Gharbeya,%20Al%20Masaken%20Al%20Iqtisadeyah,%20Helwan,%20Cairo%20Governorate&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a href="https://putlocker-is.org"></a><br />
          <style>
            .mapouter {
              position: relative;
              text-align: center;
              justify-content: center;
              align-items: center;
            }</style
          ><a href="https://www.embedgooglemap.net"
            >google maps embed zoom</a
          >
          <style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
            }
          </style>
        </div>
      </div>
    </div>
    <div class="form col-md-6 pull-right">
      <div class="content">
        <h2>
          <pre> Get In Touch </pre>
        </h2>
        <form action="">
          <input
            class="input"
            type="text"
            placeholder="Your Name"
            name="name"
          />
          <input
            class="input"
            type="email"
            placeholder="Your Email"
            name="email"
          />
          <input
            class="input"
            type="text"
            placeholder="Your Phone"
            name="mobile"
          />
          <textarea
            class="input"
            placeholder="Tell Us About Your Needs"
            name="message"
          ></textarea>
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Discount  -->
<!-- Start Footer  -->
<div class="footer">
  <div class="container">
    <!-- Start Box # 1 -->
    <div class="box">
      <!-- <p class="text">
        Dont Forget To Follow Us And Thanks For Your Interest And Time.
      </p> -->
      <ul class="social">
        <li>
          <a
            href="https://www.facebook.com/a7med3shour2020/"
            class="facebook"
            target="_blank"
          >
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/ahmedas18362884?fbclid=IwAR1w0t76LZK9BZMI1jVvcnYmTGtKwPoSKv8AFIadVd4fVCgr6QUA_Qx1nOU"
            class="twitter"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCdU95owpu8nPvPS7SIbZ8gw"
            class="youtube"
            target="_blank"
          >
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/ahmedashour_2020/"
            class="instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=+201066904391"
            class="whatsapp"
            target="_blank"
          >
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ahmed-ashour-96024a210/"
            class="linkedin"
            target="_blank"
          >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ash356" class="hub" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a
            href="mailto:ashourahmed7070@gamil.com"
            class="envelope"
            target="_blank"
          >
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Box # 1 -->
  </div>
  <div class="copyright col-md-12">
    <h3>
      Made With <i class="fa fa-heart"></i>&<i class="fa fa-coffee"></i>
      &gt; By Fru Ve &copy; 2022
    </h3>
  </div>
</div>
<!-- End Footer  -->
