<nav *ngIf="nav.visible">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <div class="tnavbar">
  <h4 class="logo pull-left">Fru Ve</h4>
  <a [routerLink]="['/profile']"class="pull-right"><i class="caret"></i></a>
  <a class="pull-right" [routerLink]="['/profile']"><span class="glyphicon glyphicon-user" ></span></a>
  <a class="pull-right" [routerLink]="['/notification']"><i class="glyphicon glyphicon-bell"></i></a>
  </div>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
 </nav>
