.products{
  padding: 0px;
}
html, body {
  width: auto!important;
   overflow-x: hidden!important
  }

  @media
  only screen
  and (max-width: 760px), (min-device-width: 768px)
  and (max-device-width: 1024px)  {
    /* .products{
      justify-content: center;
      align-items: center;
      text-align: center;
    } */
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: grid;
    width: 100%;
    margin-right: 72px;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr:nth-child(odd) {
    background: rgb(246, 245, 245);
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 0%;

  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
  }
  }
