<div class="row">
  <img src="../../assets/Images/open.jpg" alt="" class="image">
</div>
<!-- Start Footer  -->
<div class="footer">
  <div class="container">
    <!-- Start Box # 1 -->
    <div class="box">
      <!-- <p class="text">
        Dont Forget To Follow Us And Thanks For Your Interest And Time.
      </p> -->
      <ul class="social">
        <li>
          <a
            href="https://www.facebook.com/a7med3shour2020/"
            class="facebook"
            target="_blank"
          >
            <i class="fa fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/ahmedas18362884?fbclid=IwAR1w0t76LZK9BZMI1jVvcnYmTGtKwPoSKv8AFIadVd4fVCgr6QUA_Qx1nOU"
            class="twitter"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCdU95owpu8nPvPS7SIbZ8gw"
            class="youtube"
            target="_blank"
          >
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/ahmedashour_2020/"
            class="instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=+201066904391"
            class="whatsapp"
            target="_blank"
          >
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ahmed-ashour-96024a210/"
            class="linkedin"
            target="_blank"
          >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ash356" class="hub" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a
            href="mailto:ashourahmed7070@gamil.com"
            class="envelope"
            target="_blank"
          >
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Box # 1 -->
  </div>
  <div class="copyright col-md-12">
    <h3>
      Made With <i class="fa fa-heart"></i>&<i class="fa fa-coffee"></i>
      &gt; By Fru Ve &copy; 2022
    </h3>
  </div>
</div>
<!-- End Footer  -->
 <!-- <div class="container ">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

